<h1>おたスケ</h1>

<p><%= @user.name %>様</p>

<p>
草野球スケジュール調整サービス「おたスケ」へようこそ！<br>
新規登録を済ませるには、下記URLをクリックしてください。
</p>

<%= link_to "アカウントの有効化", edit_account_activation_url(@user.activation_token, email: @user.email) %>
