<%provide(:title, 'プロフィール編集')%>
<%provide(:button_text, '更新する')%>
<div class="form">
  <h2>プロフィール編集</h2>
  <%= render 'form' %>
</div>
<span class="center">
	<span class="btn btn-red">
		<%= link_to "アカウント削除", user_path(current_user), method: :delete, data: {confirm: "アカウントを削除しますか？"} %>
	</span> 
</span>
