<% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>">
    <% if message.include?('<br>')%>
        <div class="alert-long">
            <p><%= message.html_safe %></p>
        </div>
    <% else %>
        <p><%= message %></p>
    <% end %>
    </div>
<% end %>