<% flash.each do |message_type, message| %>
  <div class="alert">
		<div class="alert__<%= message_type %>">
			<% if message.include?('<br>')%>
				<div class="alert__long">
					<p><%= message.html_safe %></p>
				</div>
			<% else %>
				<p><%= message %></p>
			<% end %>
		</div>
  </div>
<% end %>
