<% provide(:title, 'メンバー一覧') %>
<%= render 'shared/error_messages' %>
<h2>メンバー一覧</h2>
<ul class="users">
  <% @members.each do |member| %>
    <li class="user">
      <%= User.find(member.user_id).name %>
      <% if !current_user?(User.find(member.user_id)) %>
        <span class="btn-destroy btn-red">
          <%= link_to "削除", team_team_member_path(member.id), method: :delete, data: { confirm: "本当に削除しますか？" } %>
        </span>
      <% else %>
        <span class="belonged">
          チーム管理者
        </span>
      <% end %>
    </li>
  <% end %>
</ul>
<%= paginate @members %>
