// require_tree
// require_self
@import "reset.css";

// フォント

* {
	font-family: sans-serif;
	color: #172b4d;
}

@font-face {
	font-family: “RocknRollOne-Regular”;
	src: url("/assets/fonts/RocknRollOne-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: “Roboto-Medium”;
  src: url("/assets/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}



// mixin

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

// 共通

* {
	float: none;
	position: static;
}

img {
	max-width: 100%;
	object-fit: cover;
}

.pc {
	display: inline-block;
}

.sp {
	display: none;
}

body {
	padding-top: 30px;
	background-color: #fff;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

h2 {
	text-align: center;
	margin-bottom: 15px;
	font-size: 1.5rem;
}

.wrapper {
	width: 90%;
	margin: 0% 5%;
}

.container {
	width: 80%;
	margin: 0 auto;
	padding-bottom: 45px;
}

table{
	box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}

%btn{
	display: inline-block;
	height: auto;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
	z-index: 1;
	color: white;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
	@include box_sizing;
	>a {
		display: inline-block;
		color: white;
		height: auto;
		padding: 1px 6px;
		width: 100%;
	}
	&:active{
		box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
		position: relative;
		top: 2px;
	}
}

%__right{
	position: absolute;
	top: 50%;
	right: 4%;
	transform: translateY(-50%);
	> a {
		display: block;
	}
	&:active{
		position: absolute;
		top: calc(50% + 2px);
	}
}

%__margin-left {
	margin-left: 5px;
}

%--center {
	margin: 0 auto;
	display: block;
	color: white;
	height: auto;
	padding: 1px 6px;
}

.btn {
	display: flex;
	flex-direction: row;
	position: absolute;
	top: 50%;
	right: 3%;
	transform: translateY(-50%);
	&--orange {
		@extend %btn;
		background-color: #ff8c00;
	}
	&--navy {
		@extend %btn;
		background-color: #384878;
	}
	&--red {
		@extend %btn;
		background-color: #ff5050;
	}
	&--google {
		@extend %btn;
		font-weight: normal;
		width: auto;
		border-radius: 5px;
		border: #5f6368;
		padding: 3px 0px;
		margin-top: 5px;
		text-align: center;
		display: flex;	
		justify-content: center;
		align-items: center;
		#google{
			color: #5f6368;
			font-family: "Roboto-Medium";
		}
		>svg{
			margin-right: 5px;
		}
	}
	&__right {
		@extend %btn;
		@extend %__right;
		&--orange {
			@extend %btn;
			@extend %__right;
			background-color: #ff8c00;
		}
		&--navy {
			@extend %btn;
			@extend %__right;
			background-color: #384878;
		}
		&--red {
			@extend %btn;
			@extend %__right;
			background-color: #ff5050;
		}
	}
	&__search {
	@extend %btn;
	color: white;
	padding: 1px 6px;
	margin-left: 5px;
	background-color: #384878;
	}
	&__margin-left {
		@extend %btn;
		@extend %__margin-left;
		&--navy {
			@extend %btn;
			@extend %__margin-left;
			background-color: #384878;
		}
		&--orange {
			@extend %btn;
			@extend %__margin-left;
			background-color: #ff8c00;
		}
		&--red {
			@extend %btn;
			@extend %__margin-left;
			background-color: #ff5050;
		}
	}
	&__margin-top {
	@extend %btn;
	margin-top: 10px;
	text-align: center;
	  &--orange{
			@extend %btn;
			margin-top: 10px;
			background-color: #ff8c00;
		}
		&--center {
			&-orange {
				@extend %btn;
				@extend %--center;
				margin-top: 10px;
				background-color: #ff8c00;
			}
			&-red {
				@extend %btn;
				@extend %--center;
				margin-top: 10px;
				display: inline-block;
				background-color: #ff5050;
				>a {
					width: auto;
				}
			}
		}
	}
	&__file-select {
		@extend %btn;
		width: 50%;
		margin: 5px auto 15px auto;
		text-align: center;
		color: #fff;
		background-color: #384878;
	}
}

.center {
	display: block;
	text-align: center;
	p {
		font-weight: bold;
	}
}

// ロゴ

#logo {
	font-family: "RocknRollOne-Regular";
	font-size: 24px;
}

// ヘッダー

.nav {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	:hover {
		opacity: 0.7;
	}
}

.menu {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 15px;
	> li {
		margin-right: 25px;
		list-style: none;
	}
	> a {
		margin-right: 25px;
	}
}

.dropdown {
	position: relative;
	:after {
		clear: both;
	}
	li {
		width: 150px;
		height: 50px;
		line-height: 50px;
		background-color: white;
		margin-left: 0;
		list-style: none;
	}
	li a {
		display: block;
		color: #008cff;
		text-align: center;
	}
	&__down-arrow:after {
	content: "";
	display: inline-block;
	width: 6px;
	height: 6px;
	margin: 0 0 3px 3px;
	border-right: 1px solid;
	border-bottom: 1px solid;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	}

	&__menu {
		border: solid 1px;
		visibility: hidden;
		opacity: 0;
		z-index: 2;
		position: absolute;
		-webkit-transition: all 0.2s ease;
		transition: all 0.2s ease;
		top: 30px;
		right: -15px;
			a:hover {
				opacity: 0.7;
				background-color: #f3f3f3;
			}
	}
	&:hover &__menu{
		visibility: visible;
		opacity: 1;
	}
}

// タブ

.tab-area {
	border-top: 2px solid;
	border-bottom: 2px solid;
	width: 100%;
	margin: 5px 0px 15px;
	height: 34px;
	line-height: 30px;
	&__tab-button {
		position: relative;
		width: 50%;
		height: 30px;
		margin: 0 auto;
		.tab {
			> a {
				display: inline-block;
				width: 100%;
				height: 100%;
			}
		}
		.tab1 {
			position: absolute;
			display: block;
			width: 50%;
			text-align: center;
			left: 0;
			cursor: pointer;
		}
		.tab1#lamp {
			position: absolute;
			width: 50%;
			top: 30px;
			height: 2px;
			background-color: #ffb450;
			border-width: 5px;
			display: block;
			left: 0;
		}
		.tab2 {
			position: absolute;
			display: block;
			width: 50%;
			text-align: center;
			left: 50%;
			cursor: pointer;
		}
		.tab2#lamp {
			position: absolute;
			width: 50%;
			top: 30px;
			height: 2px;
			background-color: #ffb450;
			display: block;
			left: 50%;
		}
		:hover {
			font-weight: bold;
			background-color: #f5f5f5;
		}
	}
}

// ホーム画像

.home-image {
	width: 100vm;
	margin: 0 calc(50% - 50vw);
	position: relative;
	p {
		position: absolute;
		-ms-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		text-align: center;
		white-space: nowrap;
		margin: 0;
		padding: 0;
		top: 50%;
		left: 50%;
		font-size: 2rem;
		span {
			font-weight: bold;
		}
	}
	&__title {
		font-size: 5rem;
	}
}

// チームアイコン

.icon {
	border-radius: 50%;
}

// デバック

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
	background-color: #eaeaea;
	padding: 10px 0px;
}

//   入力フォーム

.form {
	width: 400px;
	margin: 0 auto 10px auto;
	border: 1px solid;
	padding: 20px;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
	h2 {
		text-align: center;
		margin-bottom: 15px;
	}
	input,
	textarea {
		border: 1px #bbb solid;
		width: 100%;
		margin-bottom: 15px;
		border-radius: 5px;
		@include box_sizing;
		padding: 0px 5px;
	}
	input {
		height: auto;
	}
	input[type="file"] {
		border: none;
	}
	> p {
		text-align: center;
		margin-bottom: 15px;
	}
	label {
		display: block;
	}
	select {
		border-radius: 5px;
		border: 1px #bbb solid;
		padding: 5px;
		width: 100%;
		margin-bottom: 15px;
	}
	&__btn {
			&--orange{
				@extend %btn;
				width: 100%;
				color: white;
				background-color: #ff8c00;
			}
			&--navy{
				@extend %btn;
				width: 100%;
				color: white;
				background-color: #384878;
			}
		}
	&__alert--danger {
		margin-top: -15px;
		margin-bottom: 15px;
		li {
			list-style: none;
			color: red;
		}
		p{
			color: red;
		}
	}
	&__other {
		width: 100%;
		text-align: center;
		padding: 10px 0;
		border-top: 2px #aaa solid;
		margin-top: 20px;
	}
	&__password-forgot {
		text-align: center;
		margin-bottom: 15px;
		width: 100%;
		> a {
			display: inline-block;
			color: blue;
		}
	}
	&__login-checkbox {
		margin-top: -15px;
		input {
			width: 15px;
			margin-right: -5px;
		}
	}
	&__checkbox--inline {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 15px;
		label {
			display: inline;
			margin-right: 10px;
		}
		.field_with_errors {
			display: inline;
		}
		input {
			width: auto;
			margin-bottom: 0px;
		}
	}
	input[type="file"] {
		display: none;
	}
	&__comment{
		width: 350px;
		margin-top: 15px;
		textarea {
			border: 1px #bbb solid;
			width: 100%;
			border-radius: 5px;
			margin-bottom: 15px;
			@include box_sizing;
			padding: 0px 5px;
		}
	}
}

#error_explanation {
	color: red;
	ul {
		color: red;
		margin: 0 0 30px 0;
	}
}

.field_with_errors input {
	outline: 0;
	border-color: red;
	background-color: #fff;
}

%alert {
	display: block;
	min-height: 30px;
	line-height: 30px;
	text-align: center;
	width: auto;
	max-width: 400px;
	border-radius: 5px;
	margin: 0 auto 15px;
	font-size: 0.8rem;
}

.alert{
	&__success {
		@extend %alert;
		background-color: #b9e6b9;
		li {
			list-style: none;
		}
		p{
			color: #46b446;
		}
	}
	&__info {
		@extend %alert;
		background-color: #50afff;
		width: 500px;
		li {
			list-style: none;
		}
		p{
			color: #0044a2;
		}
	}
	&__danger {
		@extend %alert;
		background-color: #ffafaf;
		li {
			list-style: none;
		}
		p{
			color: red;
		}
	}
	&__warning {
		@extend %alert;
		background-color: #f0f087;
		width: 500px;
		li {
			list-style: none;
		}
		p{
			color: #f0be00;
		}
	}
	&__long {
		line-height: 15px;
	}
}

.selectbox {
	width: 100%;
	position: relative;
	&:after {
		content: "";
		display: block;
		width: 10px;
		height: 10px;
		position: absolute;
		right: 5%;
		top: 20%;
		border-bottom: 2px solid;
		border-right: 2px solid;
		transform: rotate(45deg) translateY(-30%);
	}
}

// チームプロフィール

.team-profile {
	padding: 10px;
	margin-bottom: 10px;
	margin: 0 auto;
	text-align: center;
	table {
		width: 400px;
		border-collapse: collapse;
		border: 1px solid;
		margin: 0 auto 10px auto;
		table-layout: fixed;
	}
	table,
	td,
	th {
		border-collapse: collapse;
		border-top: 1px solid;
		border-bottom: 1px solid;
		text-align: left;
		padding: 10px;
		a {
			text-decoration: underline;
			color: blue;
		}
	}
	td {
		word-wrap: break-word;
	}
}

.preview-image {
	text-align: center;
	&__team {
		height: 100px;
		width: 100px;
		border-radius: 50%;
		object-fit: cover;
	}
}

// ユーザー一覧表示

.users {
	text-align: center;
	list-style: none;
	.user {
		position: relative;
		align-items: center;
		border: 1px solid;
		width: 450px;
		padding: 10px;
		margin: 0 auto -1px;
		text-align: left;
	}
}


// チーム一覧表示

.teams {
	text-align: center;
	list-style: none;
	#search {
		border: 1px #bbb solid;
		margin-bottom: 15px;
		border-radius: 5px;
		@include box_sizing;
		padding: 0px 5px;
	}
	.team {
		position: relative;
		align-items: center;
		box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
		width: 450px;
		padding: 10px;
		margin: 0 auto;
		margin-bottom: 15px;
		text-align: left;
		img {
			vertical-align: top;
			margin-right: auto;
		}
		&__header {
			display: inline-block;
			text-align: left;
			width: 240px;
			> a {
				color: blue;
			}
		}
		&__body {
			display: block;
			margin-top: 5px;
			> a {
				color: blue;
				word-wrap: break-word;
			}
		}
	}
}

.status {
	position: absolute;
	top: 50%;
	right: 5%;
	transform: translateY(-50%);
	display: inline-block;
	font-weight: bold;
}

// チーム切り替え
.team-change {
	align-items: center;
	> span {
		display: inline-block;
		text-align: left;
	}
	img {
		vertical-align: top;
		margin-right: -5px;
	}
	&__list {
		box-shadow: 0px 2px 4px rgba(0,0,0,0.3);
		min-width: 300px;
		margin: 0 auto;
		margin-bottom: 5px;
		text-align: center;
		border-radius: 5px;
		cursor: pointer;
		padding: 10px;
		@include box_sizing;	
		&:hover{
			background-color: #f5f5f5;
		}
		> img {
			vertical-align: middle;
		}
		> a {
			margin-left: 1px;
			vertical-align: middle;
		}
	}
}

.no-content {
	font-size: 1.2rem;
	margin: 0 auto;
	margin-top: 10px;
}

// ページネーション

.pagination {
	margin: 20px auto 0;
	width: 50%;
	display: flex;
	justify-content: center;
	span {
		text-align: center;
		width: 50px;
		:hover {
			background-color: #f3f3f3;
		}
		a {
			display: block;
			width: 100%;
			height: 100%;
			:hover {
				background-color: #f3f3f3;
			}
		}
	}
}

.current {
	color: #008cff;
}

.gap {
	background-color: white !important;
}

// スケジュール管理ページ

.event-area{
	width: 90vw;
	margin: 0 calc(50% - 45vw);
	.events {
		overflow-x: auto;
		margin-top: 5px;
		table {
			border-collapse: collapse;
			table-layout: fixed;
			tr:nth-child(even) {
				background-color: #efefef;
				.fixed {
					min-width: 700px;
					overflow-wrap: break-word;
					font-weight: normal;
					text-align: left;
					position: sticky;
					left: 0;
					z-index: 1;
					background-color: #efefef;
					&:before {
						pointer-events: none;
						content: "";
						position: absolute;
						top: -1px;
						left: -1px;
						width: 100%;
						height: 100%;
						border: 1px solid;
						box-sizing: content-box;
					}
				}
			}
			tr:nth-child(odd) {
				background-color: white;
				.fixed {
					min-width: 700px;
					overflow-wrap: break-word;
					font-weight: normal;
					text-align: left;
					position: sticky;
					left: 0;
					z-index: 1;
					background-color: white;
					&:before {
						pointer-events: none;
						content: "";
						position: absolute;
						top: -1px;
						left: -1px;
						width: 100%;
						height: 100%;
						border: 1px solid;
						box-sizing: content-box;
					}
				}
			}
			th,
			td {
				border: 1px solid;
				text-align: center;
				padding: 5px;
				min-width: 47px;
			}
			th {
				a {
					text-decoration: underline;
				}
			}
			td {
				padding: 10px;
				position: relative;
			}
			.events__beside {
				display: inline-block;
				a{
					text-decoration: none;
				}
			}
		}
		
		.entry {
			a {
				position: absolute;
				display: block;
				top: 50%;
				left: 50%;
				transform: translateY(-50%) translateX(-50%);
				color: blue;
			}
			p {
				position: absolute;
				display: block;
				top: 50%;
				left: 50%;
				transform: translateY(-50%) translateX(-50%);
			}
		}
	}
}

.comment-area{
	display: block;
	margin-top: 15px;
	span{
		display: inline-block;
		line-height: auto;
		margin-top: 2px;
	}
}

.event {
	table,
	td {
		margin: 0 auto;
		border-collapse: collapse;
		border: 1px solid;
		text-align: center;
		padding: 10px;
		position: relative;
	}
	th {
		border-collapse: collapse;
		border: 1px solid;
		text-align: center;
		padding: 5px;
	}
}

.order {
	table,
	td {
		margin: 0 auto;
		border-collapse: collapse;
		border: 1px solid;
		text-align: center;
		padding: 10px;
		position: relative;
	}
	th {
		border-collapse: collapse;
		border: 1px solid;
		text-align: center;
		padding: 5px;
	}
	input,
	textarea {
		border: 1px #bbb solid;
		width: 50%;
		text-align: center;
		border-radius: 5px;
		@include box_sizing;
		padding: 0px 5px;
	}
	input {
		height: a
	}
}

%bg {
	display: block;
	margin: 0 auto;
	height: 20px;
	width: 35px;
}

.bg {
	&--red {
		@extend %bg;
		background-color: #ff9191;
	}
	&--yellow {
		@extend %bg;
		background-color: #f0f087;
	}
	&--green {
		@extend %bg;
		background-color: #b9e6b9;
	}
}

.no-event {
	display: table-cell;
	font-size: 1.2rem;
	margin-top: 10px;
}

// ラジオボタン

.radio-button-group {
	display: flex;
	justify-content: center;
	&__input-container {
		position: relative;
		height: 3rem;
		width: 4rem;
		margin: 0.5rem;
	}
}

.radio_button {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	margin: 0;
	cursor: pointer;
	&:checked + .ok {
		background-color: #b9e6b9;
	}
	&:checked + .neither {
		background-color: #f0f087;
	}
	&:checked + .ng {
		background-color: #ff9191;
	}
}

.radio-tile {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	border: 1px solid #bbb;
	border-radius: 5px;
	padding: 1rem;
	background-color: #dfdfdf;
}

// スケジュールから相手チーム検索

.event-search {
	width: 450px;
	margin: 0 auto;
	margin-bottom: 5px;
	background-color: #efefef;
	border-radius: 10px;
	position: relative;
	padding: 15px 75px 0px 5px;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
	label {
		display: inline-block;
		font-weight: bold;
		white-space: nowrap;
		margin: 0px 5px;
	}
	
	&__event-time {
		width: 100%;
		display: flex;
		input {
			border: 1px #bbb solid;
			border-radius: 5px;
			@include box_sizing;
			padding: 0px 5px;
			margin-bottom: 10px;
			width: 100%;
			height: 28px;
		}
	}
	&__area-level {
		&--area {
			display: flex;
			width: 100%;
		}
		&--level {
			display: flex;
			width: 100%;
		}
		select {
			border-radius: 5px;
			border: 1px #bbb solid;
			padding: 5px;
			width: 100%;
			text-align: center;
			margin-bottom: 10px;
		}
	}
	&__input {
		width: 265px;
		text-align: center;
		margin-left: auto;
	}
	&__btn {
		@extend %btn;
		background-color: #384878;
		position: absolute;
		top: 50%;
		right: 4%;
		transform: translateY(-50%);
		padding: 1px 6px;
		color: white;
		@include box_sizing;
		&:active{
			position: absolute;
			top: calc(50% + 2px);
		}
	}
}

.instruction {
	display: block;
	width: 450px;
	margin: 0 auto;
	padding-left: 1em;
	text-indent: -1em;
}

.detail-schedules {
	display: inline-block;
	margin-top: 20px;
	margin-bottom: 40px;
	text-align: center;
	position: relative;
	> p {
		position: absolute;
		top: -25px;
	}
	table {
		max-width: 650px;
		border-collapse: collapse;
		background-color: white;
		tr:nth-child(even) {
			background-color: #efefef;
		}
	}
	th,
	td {
		border: 1px solid;
		padding: 5px;
	}
	&__schedule {
		font-weight: normal;
		text-align: left;
	}
}

.qr-preview {
	width: 150px;
	height: auto;
}

// レスポンシブ

@media screen and (max-width: 1024px) {
	// タブレット用
	.container {
		width: 95%;
	}
	// タブ
	.tab-area {
		&__tab-button {
			width: 100%;
		}
	}

	// ホーム画像
	.home-image {
		p {
			font-size: 1rem;
		}
		&__title {
			font-size: 2.5rem;
		}
	}
	
	// スケジュール
	.event-area{
		width: 97vw;
		margin: 0;
		.events {
			table {
				tr:nth-child(even) {
					.fixed {
						min-width: 300px;
					}
				}
				tr:nth-child(odd) {
					.fixed {
						min-width: 300px;
					}
				}
			}
		}
	}
}
	
@media screen and (max-width: 599px) {
	// スマホ用

	// 共通
	* {
		font-size: 0.9rem;
	}

	h2 {
		font-size: 1.0rem;
	}

	%btn {
		>a{
			font-size: 1.0rem;
		}
	}

	

	// ロゴ
	#logo {
		font-size: 1.2rem;
	}

	.menu {
		margin-right: 5px;
		> li {
			margin-right: 10px;
		}
		> a {
			margin-right: 10px;
			max-width: 150px;
		}
	}

	.dropdown {
		li {
			width: 110px;
			height: 33px;
			line-height: 33px;
		}
	}

	.dropdown__menu {
		top: 21px;
		right: -5px;
	}

	// タブ
	.tab-area {
		height: 28px;
		line-height: 24px;
		margin-bottom: 5px;
		.tab{
			a{
				font-size: 1.0rem;
			}
		}
		&__tab-button {
			width: 100%;
			.tab1#lamp {
				top: 24px;
			}
			.tab2#lamp {
				top: 24px;
			}
		}
	}

	// ホーム画像
	.home-image {
		p {
			font-size: 0.8rem;
		}
		&__title {
			font-size: 1.8rem;
		}
	}

	// 入力フォーム
	.form {
		width: 90%;
		max-width: 400px;
		#login-checkbox {
			transform: scale(0.8);
			margin: 0;
		}
		.form__login-checkbox {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			margin-top: -15px;
		}
		input, textarea{
			height: 25px;
		}
	}

	%alert {
		margin-bottom: 5px;
		font-size: 0.5rem;
		width: auto;
	}

	// チームプロフィール
	.team-profile {
		padding: 10px;
		table {
			width: 100%;
			padding: 10px;
		}
		th {
			width: 100px;
		}
	}

	.pc {
		display: none;
	}

	.sp {
		display: inline-block;
	}

	// チーム切り替え
	.team-change {
		.list{
			width: 250px;
		}
	}

	// スケジュール
	.event-area{
		.btn--navy{
			a{
				font-size: 0.9rem;
			}
		}
		.events {
			table {
				tr:nth-child(even) {
					.fixed {
						min-width: 180px;
						font-size: 0.8rem;
						a{
							font-size: 0.8rem;
						}
					}
				}
				tr:nth-child(odd) {
					.fixed {
						min-width: 180px;
						font-size: 0.8rem;
						a{
							font-size: 0.8rem;
						}
					}
				}
			}
			th,
			td {
				min-width: 42px;
			}
		}
	}

	.comment-area{
		span{
			font-size: 0.8rem;
			a{
				font-size: 0.8rem;
			}
		}
	}

	.event {
		th {
			max-width: 50px;
			overflow-wrap: break-word;
		}
	}

	%bg {
		width: 25px;
	}
		
	// スケジュールから相手チーム検索
	.event-search {
		width: 100%;
		padding: 10px 60px 0px 5px;
		label {
			margin-top: 5px;
		}
		&__input {
			min-width: 150px;
			width: 63%;
			input {
				padding: 1px;
				height: 30px;
			}
			select {
				padding: 3px;
				height: 30px;
			}
			.selectbox:after {
				right: 5%;
				top: 22%;
			}
		}
		.event-search__btn {
			right: 2%;
			font-size: 1.0rem;
		}
	}

	.instruction {
		width: 100%;
	}

	.detail-schedules {
		margin-top: 20px;
		margin-bottom: 40px;
		text-align: center;
		> p {
			position: absolute;
			top: -25px;
		}
		table {
			min-width: 90%;
			border-collapse: collapse;
			background-color: white;
			tr:nth-child(even) {
				background-color: #efefef;
			}
		}
		th,
		td {
			border: 1px solid;
			padding: 5px;
		}
		.detail-schedules__schedule {
			font-weight: normal;
			text-align: left;
		}
	}

	// チーム一覧

	.teams{
		.team {
			width: 100%;
			padding: 10px;
			margin-bottom: 5px;
			img {
				vertical-align: top;
				margin-right: auto;
			}
			&__header {
				width: 180px;
			}
		}
	}

	// ユーザー一覧表示
	.users{
		.user {
			width: 100%;
		}
	}

	// その他
	.no-event {
		font-size: 1rem;
	}

	.no-content {
		font-size: 1rem;
	}
}
