// require_tree .
// require_self
@import "reset.css";

// フォント

@font-face {
    font-family: “RocknRollOne-Regular”;
    src: url('/assets/RocknRollOne-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
  }

// mixin

@mixin box_sizing {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
  }


// 共通

body{
    padding-top: 30px;
    background-color: #fff;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: black;
}

h2{
    text-align: center;
    margin-bottom: 15px;
}

.wrapper{
    width: 1200px;
    margin: 0 auto;
}

.container{
    width: 800px;
    margin: 0 auto;
}

.btn{
    display: inline-block;
    height: 25px;
    margin-left: 10px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    @include box_sizing;
    >a{
        display: block;
        color: white;
        height: 25px;
        padding: 1px 6px;
        width: 100%;
    }
}

// ロゴ

#logo{
    font-family: "RocknRollOne-Regular";
    font-size: 24px;
}

// ヘッダー

.nav{
    display: flex;
    justify-content: space-between;
    :hover{
        opacity: 0.7;
    }
}

.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    >li{
        margin-right: 20px;
        list-style: none;
    }
    >a{
        margin-right: 20px;
    }
}

.dropdown {
    position: relative;
    :after {
        clear: both;
    }
    li {
        width: 150px; 
        height: 50px;
        line-height: 50px;
        background-color: white;
        margin-left: 0;
        list-style: none;
    }
    li a {
        display: block;
        color: #008CFF;
        text-align: center;
    }
}

.down-arrow:after {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 0 4px 3px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.dropdown-menu {
    border: solid 1px black;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    position: absolute;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    top: 30px;
    right: -15px;
    a:hover{
        opacity: 0.7;
        background-color: #f3f3f3;   
    }
}

.dropdown:hover .dropdown-menu {
    visibility: visible;
    opacity: 1;
}


// タブ

.tab-area{
    border-top: 2px #444 solid;
    border-bottom: 2px #444 solid;
    width: 100vm;
    margin: 5px calc(50% - 50vw) 15px;
    height: 34px;
    line-height: 30px;
    .tab-buttons{
        position: relative;
        width: 800px;
        height: 30px;
        margin: 0 auto;
        .tab1{
            position: absolute;
            display:block;
            width: 33.3%;
            float:left;
            text-align:center;
            left: 0;
            cursor: pointer;
        }
        .tab1#lamp{
            position: absolute;
            width: 33.3%;
            top: 30px;
            height: 2px;
            background-color: #FFB450;
            border-width: 5px;
            display: block;
            left: 0;
        }
        .tab2{
            position: absolute;
            display:block;
            width: 33.3%;
            float:left;
            text-align:center;
            left: 33.3%;
            cursor: pointer;
        }
        .tab2#lamp{
            position: absolute;
            width: 33.3%;
            top: 30px;
            height: 2px;
            background-color: #FFB450;
            display: block;
            left: 33.3%;
        }
        .tab3{
            position: absolute;
            display:block;
            width: 33.3%;
            float:left;
            text-align:center;
            left: 66.6%;
            cursor: pointer;
        }
        .tab3#lamp{
            position: absolute;
            width: 33.3%;
            top: 30px;
            height: 2px;
            background-color: #FFB450;
            display: block;
            left: 66.6%;
        }
       :hover{
           font-weight: bold;
           background-color: #f1f1f1;
       }
    }
}



// ホーム画像

.home-image{
    width: 100vm;
    margin: 0 calc(50% - 50vw);
    position: relative;
    p{
        position: absolute;
        color: black;
        -ms-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        text-align: center;
        white-space: nowrap;
        margin:0;
        padding:0;
        top: 50%;
        left: 50%;
        font-weight: lighter;
        font-size: 2em;

        .title{
            font-size: 2.5em;
        }

        span{
            font-weight: bold;
        }

    }
}

// チームアイコン
.icon{
    border-radius: 50%;
}

// テーブルレイアウト
table{
    border-collapse: collapse;
    border:1px solid #333;
}
table,td,th{
    width: 400px;
    border-collapse: collapse;
    border-top:1px solid #333;
    border-bottom:1px solid #333;
    text-align: left;
    padding: 10px;
}

.table{
    margin:0 auto 10px auto;
}

.team_image{
    text-align: center;
}



  // デバック

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
    background-color: #eaeaea;
    padding: 10px 0px;
  }


//   入力フォーム

.form{
    width: 370px;
    margin: 0 auto;
    border: 2px black solid;
    padding: 20px;
    h2{
        text-align: center;
        margin-bottom: 15px;
    }
    input, textarea{
        border: 1px #bbb solid;
        width: 100%;
        margin-bottom: 15px;
        border-radius: 5px;
        @include box_sizing;
        padding: 0px 5px;
      }
    input{
        height: auto !important;
    }
    input[type="file"]{
        border: none;
    }
    > p{
        text-align: center;
        margin-bottom: 15px;
    }

    label{
        display: block;
    }
}


.form-btn{
    display: inline-block;
    color: white;
    margin-top: 5px;
    height: 25px;
    padding: 1px 6px;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    @include box_sizing;
}

input.form-btn{
    color: white;
    border: none;
    outline: none;
}

.password-forgot{
    text-align: center;
    margin-bottom: 15px;
    > a{
        display: inline-block;
        color: blue;
    }
}

.btn-orange{
    background-color: #FF8C00; 
}

.btn-navy{
    background-color: #0044A2;
}

.btn-red{
    background-color: #FF5050;
}

#error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
    }
  }
  
.field_with_errors input{
    outline: 0;
    border-color: red;
    background-color:#fff;
}

.alert{
    text-align: center;
    height: 40px;
    line-height: 40px;
    width: 326px;
    border-radius: 5px;
    margin: 0 auto 15px ;
    font-size: 1.6vmin;
}

.alert-success{
    color: #46B446;
    background-color: #B9E6B9;
    li{
        list-style: none;
    }
}

.alert-info{
    color: #0044A2;
    background-color: #50AFFF;
    width: 500px;
    li{
        list-style: none;
    }
}
.alert-long{
    line-height: 15px;
    padding-top: 5px;
}

.alert-danger{
    color: red;
    background-color: #ffafaf;
    li{
        list-style: none;
    }
}

.alert-warning{
    color: #F0BE00;
    background-color: #F0F087;
    width: 500px;
    li{
        list-style: none;
    }
}

.form-alert-danger{
    color: red;
    margin-top: -15px;
    li{
        list-style: none;
    }
}

.other{
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-top: 2px #aaa solid;
    margin-top: 20px;
}

.login-checkbox{
    margin-top: -15px;
    float: left;
    input{
        width: 15px;
        margin-right: -5px;
    }
}

.selectbox{
    width: 100%;
    position: relative;
}

select{
    border-radius: 5px;
    border: 1px #bbb solid;
    padding: 5px;
    width: 100%;
    margin-bottom: 15px;
}

.selectbox:after{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 5%;
    top: 20%;
    border-bottom: #333 2px solid;
    border-right: #333 2px solid;
    transform: rotate(45deg)translateY(-30%);
  }

.checkbox-inline{
    label{
        display: inline;
        margin-right: 10px;
        margin-left: -5px;
    }
    .field_with_errors{
        display: inline;
    }
    input{
        width: auto;
    }

}

#preview{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit:cover;
}

// チームプロフィール

.team-profile{
    align-items: center;
    width: 440px;
    padding: 10px;
    margin-bottom: 10px;
    margin: 0 auto;
    text-align: center;
}

// ユーザー一覧表示

.users{
    text-align: center;
    list-style: none;
}

.user{
    position: relative;
    align-items: center;
    border: #333 1px solid;
    width: 450px;
    padding: 10px;
    margin: 0 auto -1px auto;
    text-align: left;
}

.btn-destroy{
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translateY(-50%);
    display: inline-block;
    height: 25px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    @include box_sizing;
    >a{
        display: block;
        color: white;
        height: 25px;
        padding: 1px 6px;
        width: 100%;
    }
}

// チーム一覧表示

.teams{
    text-align: center;
    list-style: none;
    #search {
        border: 1px #bbb solid;
        margin-bottom: 15px;
        border-radius: 5px;
        @include box_sizing;
        padding: 0px 5px;
    }
}

.team{
    position: relative;
    align-items: center;
    border: #333 1px solid;
    width: 450px;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: left;
    img{
        vertical-align: top;
        margin-right: auto;
    }   
}

.team-header{
    display: inline-block;
    text-align: left;
    width: 240px;
}

.team-body{
    display: block;
    margin-top: 5px;
}

.btns{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
}

.btn-apply{
    position: absolute;
    top: 50%;
    left: 68%;
    transform: translateY(-50%);
    display: inline-block;
    height: 25px;
    padding: 1px 6px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    @include box_sizing;
    >a{
        color: white;
    }
}

.belonged{
    position: absolute;
    top: 50%;
    left: 73%;
    transform: translateY(-50%);
    display: inline-block;
    height: 25px;
    padding: 1px 6px;
    font-size: 15px;
    font-weight: bold;
}

.btn-search{
    display: inline-block;
    margin-left: 5px;
    height: 25px;
    padding: 1px 6px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    @include box_sizing;
}




// チーム切り替え
.team-change{
    align-items: center;
    >span{
        display: inline-block;
        text-align: left;
    }
    img{
        vertical-align: top;
        margin-right: -5px;
    }
    .list{
        margin-top: 10px;
    }
}



// ページネーション

.pagination{
    margin: 20px auto 0;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    span{
        text-align: center;
        width: 50px;
        :hover{
            background-color:#f3f3f3;
        }
        a{
            display: block;
            width: 100%;
            height: 100%;
            :hover{
                background-color: #f3f3f3;
              }
        }
    }
}

.current{
    color: #008CFF;
}

.gap{
    background-color: white !important;
}
  
