// フォント

@font-face {
    font-family: “RocknRollOne-Regular”;
    src: url('/assets/RocknRollOne-Regular.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
  }


// 共通

body{
    padding-top: 30px;
    background-color: #fff;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: black;
}

.wrapper{
    width: 1200px;
    margin: 0 auto;
}

.container{
    width: 800px;
    margin: 0 auto;
}

// ロゴ

#logo{
    font-family: "RocknRollOne-Regular";
    font-size: 24px;
}

// ヘッダー

.nav{
    display: flex;
    justify-content: space-between;
    :hover{
        opacity: 0.7;
    }
}

.menu{
    display: flex;
    justify-content: flex-end;
    li{
        margin-left: 10px;
        list-style: none;
    }
    :hover{
        opacity: 0.7;
    }
}

.tab-area{
    border-top: 2px #444 solid;
    border-bottom: 2px #444 solid;
    width: 100vm;
    margin: 0 calc(50% - 50vw) 15px;
    height:30px;
    line-height: 30px;
    .tab-buttons{
        position: relative;
        width: 800px;
        height: 30px;
        margin: 0 auto;
        .tab1{
            position: absolute;
            display:block;
            width: 33.3%;
            float:left;
            text-align:center;
            left: 0;
            cursor: pointer;
        }
        .tab1#lamp{
            position: absolute;
            width: 33.3%;
            top: 30px;
            height: 2px;
            background-color: #FFB450;
            border-width: 5px;
            display: block;
            left: 0;
        }
        .tab2{
            position: absolute;
            display:block;
            width: 33.3%;
            float:left;
            text-align:center;
            left: 33.3%;
            cursor: pointer;
        }
        .tab2#lamp{
            position: absolute;
            width: 33.3%;
            top: 30px;
            height: 2px;
            background-color: #FFB450;
            display: block;
            left: 33.3%;
        }
        .tab3{
            position: absolute;
            display:block;
            width: 33.3%;
            float:left;
            text-align:center;
            left: 66.6%;
            cursor: pointer;
        }
        .tab3#lamp{
            position: absolute;
            width: 33.3%;
            top: 30px;
            height: 2px;
            background-color: #FFB450;
            display: block;
            left: 66.6%;
        }
       :hover{
           font-weight: bold;
           background-color: #f1f1f1;
       }
    }
}

// ホーム画像

.home-image{
    width: 100vm;
    margin: 0 calc(50% - 50vw);
    position: relative;
    p{
        position: absolute;
        color: black;
        -ms-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        text-align: center;
        white-space: nowrap;
        margin:0;
        padding:0;
        top: 50%;
        left: 50%;
        font-weight: lighter;
        font-size: 2em;

        .title{
            font-size: 2.5em;
        }

        span{
            font-weight: bold;
        }

    }
}

// mixin

@mixin box_sizing {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
  }

  // デバック

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
    background-color: #eaeaea;
    padding: 10px 0px;
  }


//   入力フォーム

.form{
    width: 350px;
    margin: 0 auto;
    border: 2px black solid;
    padding: 20px;
    h2{
        text-align: center;
    }
    input, textarea {
        border: 1px solid #bbb;
        width: 100%;
        margin-bottom: 15px;
        border-radius: 5px;
        @include box_sizing;
      }
    input {
        height: auto !important;
    }
}

.btn{
    color: white;
    margin-top: 5px;
    height: 25px;
    padding: 1px 6px;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    @include box_sizing;
}

input.btn{
    border: none;
    outline: none;
}

.btn-orange{
    background-color: #FF8C00; 
}

.btn-navy{
    background-color: #0044A2;
}

#error_explanation {
    color: red;
    ul {
      color: red;
      margin: 0 0 30px 0;
    }
  }
  
.field_with_errors input{
    outline: 0;
    border-color: red;
    background-color:#fff;
}

.alert-danger{
    color: red;
    margin: -30px 0 0 -40px ;  
    li{
        list-style: none;
    }
}

.other{
    width: 100%;
    text-align: center;
    padding: 10px 0;
    border-top: 2px #aaa solid;
    margin-top: 20px;
}

